body {
    background-color: #e59400;
}

.h4, h4{
  font-size: 20px;
  color: #4CB493;
}

#loginbox {
    margin-top: 30px;
}

#loginbox > div:first-child {        
    background: rgba(248, 248, 248, 0.8);  
    background: rgba(248, 248, 248, 0.8);
	  box-shadow: rgba(0, 0, 0, 0.2) 20px 20px 20px;
}

.iconmelon {
    display: block;
    margin: auto;
}


.panel-default>.panel-heading{
  background-color: #F8F8F8;
}

.btn{
	background-color: #003070;
	color: white;
	margin-top: 15px;
}

.btn:hover{
	color:white;
}

#form > div {
    margin-bottom: 25px;
}

#form > div:last-child {
    margin-top: 10px;
    margin-bottom: 10px;
}

.panel {    
    background-color: transparent;
}

.panel-body {
    padding-top: 30px;
    background-color: rgba(2555,255,255,.3);
}

#particles {
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;                        
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    z-index: -2;
}

.iconmelon,
.im {
  position: relative;
  width: 150px;
  height: 150px;
  display: block;
  fill: #525151;
}

.iconmelon:after,
.im:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.form-control:focus{
	border-color: #D2691E;
	-webkit-box-shadow: unset;
	box-shadow: unset;
}

.navbar-default .navbar-nav>li>a{
    color: black;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
    color: #4CB493;
}

.navbar-default .navbar-brand{
    color: #4CB493;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover{
    color:#4CB493;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #4CB493;
}

.navbar-default .navbar-toggle:focus{
    background-color: #D3D3D3;
}

p, ul li{
    font-size: 1.65rem;
    color: white;
}

.navbar-default{
    border-radius: 0px;
}

.container-fluid{
    background-color: #F0F0F0;
}

select{
    padding: 5px;
}