.div_inicio
{
    /*border: 1px solid fuchsia;*/
    width: 100%;
    height: 44px;
    /*background-color:black;
    opacity: 0.7;*/
    background:rgba(0,0,0,0.5);    /* 10% opaque red */

}

button.menubut
{
    padding: 6px;
    font-size: 18px;
    border:none;
    border-radius: 2px;
    width: 10%;
    margin: 5px;
    margin-bottom: 5px;
    font-family: "Times New Roman", Times, serif;
    background: rgba(12,0,0,0.5);
    color: grey;
    
}

.buttonleft
{
    margin-right: 0;
    float: right;
}
.sombrabutt:hover
{
-webkit-box-shadow: -1px 0px 44px -1px rgba(255,255,255,1);
-moz-box-shadow: -1px 0px 44px -1px rgba(255,255,255,1);
box-shadow: -1px 0px 44px -1px rgba(255,255,255,1);
}

.div_general
{
    display: block;
    width: 25%;
    height: 500px;
    border: 1px groove black;
    margin: auto;
    
}

.div_artinc
{
    background-color: green;
    height: 250px;
    margin-top: 260px;   
}

.div_registro
{
   height: 800px;
   width: 35%; 
   margin-top: 50px;
}

label.lblregistro
{
    font-size: 18px;
    font-family: "Times New Roman", Times, serif;
    padding: 2px;
    margin: 2px;

}

.inpreg
{
    width: 80%;
    box-sizing: border-box;
    border: 2px solid gray;
    border-radius: 2px;
    font-size: 18px;
    background-color: white;
    background-image: url("condominio.png");
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    margin: 5px;
}
.nombrefoto
{
    background-image: url("nombre.png");
}
.apellidofoto
{
    background-image: url("genetica.png");
}
.telefonofoto
{
    background-image: url("telefono.png");
}
.emailfoto
{
    background-image: url("email.png");
}
.passwordfoto
{
    background-image: url("password.png");
}

input.borderinp:focus
{
    outline-width: 0;
    border: 2px solid black;
}

.div_labelreg
{
    border: 3px solid red;
    width: 65%;
    height: 660px;
    margin-left: 100px;
}

.div_buttreg
{
    margin-top: 30px;
    border: 3px solid blue;
    width: 20%;
    height: 45px;
    float: right;

}

.buttonreg
{
    width: 85%;
    font-family: "Times New Roman", Times, serif;
    padding: 6px;
    font-size: 18px;
    margin: 2px;
    
}

ul li 
{
list-style-type: none;
}

#prubaBody
{
    background-image: url("ny.jpg");
    background-size: 100% auto;
}








div_login
{
    display: block;
    margin-top: 3px;
    padding: 18px;
    
}

.form_login
{
    display: block;
    padding: 10px;
}





.input_login
{
    display: block;
    width: 100%;
    padding: 3px;
    margin-top: 2px;
}

.lineas_bot
{
    border-bottom-style: outset;
}

#input_check
{
    margin-top: 15px;
}


#btnAceptar
{
    width: 100%;
    padding: 8px;   
}

a:link
{
    text-decoration: none;
    float: right;
    

}