body{
    background-color: #e59400;
}

.panel-default>.panel-heading{
	background-color: #F8F8F8;
}

.centered-form .panel{
	background: rgba(248, 248, 248, 0.8);
	box-shadow: rgba(0, 0, 0, 0.2) 20px 20px 20px;
}

.input-sm{
  font-size: 14px;
}



.container{
	margin-top: 100px;
}

.btn{
	background-color: #003070;
	color: white;
	margin-top: 15px;
}

.btn:hover{
	color:white;
}

.panel{
	height: 350px;
}

.formulario{
	margin-top: 30px;
	height: 250px;
}

.panel-title{
	color: #4CB493;
}

.form-control:focus{
	border-color: #D2691E;
	-webkit-box-shadow: unset;
	box-shadow: unset;
}

.centered-form .panel{
	-webkit-box-shadow: 11px 13px 37px -16px rgba(0,0,0,0.7);
	-moz-box-shadow: 11px 13px 37px -16px rgba(0,0,0,0.7);
	box-shadow: 11px 13px 37px -16px rgba(0,0,0,0.7);
}

