body{
    background-color: #525252;
}

.centered-form .panel{
	background: rgba(255, 255, 255, 0.8);
	box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}

.container{
	margin-top: 100px;
}

.btn{
	background-color: #003070;
	color: white;
	margin-top: 15px;
}

.btn:hover{
	color:white;
}

.panel{
	height: 350px;
	width: 450px;
}

.formulario{
	margin-top: 30px;
	height: 250px;
}
