.div_inicio
{
    width: 15%;
    height: 240px;
    background:rgba(0,0,0,0.6);
    margin-top: 150px;
}

button.menubut
{
    display: block;
    padding: 6px;
    font-size: 18px;
    border: none;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background: rgba(245,245,245,0.4);
    color: black;
    height: 60px;
    outline-color: black;
}

a
{
    text-decoration: none;
}

.moveropcion
{
    margin-top: 280px;
    display: flex;
}

.sombrabutt:hover
{
    background-color: white;
}

a.vermas
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: black;
}

a.ident:hover
{
    color: darkred;
}

.div_filtros
{
    float: left;
    height: 379px;
    width: 18%;
    margin-top: 150px;
    background-color:rgba(255,255,255,0.6);
    margin-left: 70px;
}

body
{
    background-image: url("ny.jpg");
    background-size: 100% auto;
    display: flex;
}

.filtros
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding: 3px;
    width: 50%;
    height: 37px;
    outline-color: darkgray;
}

.acomodarfiltros
{
   margin-left:20px;
   display: block;
   background-color:rgba(0,0,0,0.7);
   color: white;
}

#buttonfiltro
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    width:  100%;
    height: 33px;
    padding: 6px;
    border: none;
    border-radius: 2px;
    background: rgba(245,245,245,0.4);
    color: black;
    outline-color: black;
}

.div_buttfil
{
    width: 100%;
    height: 33px;
    background:rgba(0,0,0,0.8);
    border-radius: 2px;
    margin:auto;
}

ul li 
{
    list-style-type: none;
}

#main 
{
    background-color:rgba(255,255,255,0.6);
	float: right;
    margin-right: 50px;
    margin-top: 150px;
	width: calc(100% - 4rem);
	max-width: 72rem;
}

#main > * 
{
	padding: 4rem 4rem 2rem 4rem;
    border-top: solid 2px #eeeeee;
	margin: 0;   
}

#main > *:first-child 
{
	border-top: 0;
}

#main > footer 
{
	text-align: center;
}

#main > .post 
{
	padding: 8rem 8rem 6rem 8rem ;
}
			
#main > .post header.major > .date 
{
	margin-top: -2rem;
}

#main > .post header.major > h1, #main > .post header.major h2 
{
	font-size: 4rem;
	line-height: 1.1;
	margin: 0 0 2rem 0;
}

#main > .post.featured 
{
	text-align: center;
}

#main > .posts 
{
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-moz-flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-moz-align-items: stretch;
	-webkit-align-items: stretch;
	-ms-align-items: stretch;
	align-items: stretch;
	text-align: center;
	width: 100%;
	padding: 0;
}

#main > .posts > * 
{
	-moz-flex-shrink: 1;
	-webkit-flex-shrink: 1;
	-ms-flex-shrink: 1;
	flex-shrink: 1;
	-moz-flex-grow: 0;
	-webkit-flex-grow: 0;
	-ms-flex-grow: 0;
	flex-grow: 0;
}

#main > .posts > * 
{
	width: 50%;
}

#main > .posts > * 
{
    padding: 2rem;
	width: 50%;			
}

#main > .posts > article 
{
	border-color: #eeeeee;
	border-left-width: 2px;
	border-style: solid;
	border-top-width: 2px;
	text-align: center;
}

#main > .posts > article > :last-child 
{
	margin-bottom: 0;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    color: black;
}

img
{
    width: 45%;
    height: 170px;
    float: left;
    margin-left: 2px;
}

.lbl
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.div_info
{
    float: right;
    width: 45%;
    border: 1px solid black;
    text-align: left;
    background-color: white;
}

li
{
    margin-bottom: 6px;
}